@font-face {
  font-family:"retro";
  src: url(./css/fonts/VIDEOPHREAK.ttf) format('truetype');
  
}



.playerchoice, .pcchoice, .result {
    color: red;
    text-align: center;
}

html {
    font-size: 50px;
    background-color: black;
    font-family: "retro";    
}

span {
    margin-left: 20px;
}

.title {
    font-size: 1.5rem;
    color: yellow;
    text-align: center;
    padding: 20px;
    letter-spacing: 10px;
    transform: skew(-25deg);
}

.display {
    display: flex;
    /* background-color: blue; */
    flex: 1;
    padding: 10px;
    margin-top: 200px;
}

.pcmodal, .playermodal {
    flex-direction: column;
    flex: 1;
    
    margin: 20px;
    padding: 20px;
    
} 

.pcmodal {
    background-color: yellow;
    border-radius: 50px 10px;
}

.playermodal {
    background-color: greenyellow;
    border-radius: 10px 50px;
}

.pcmodal .choices {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;
    
}

.pcmodal .pc {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;  
}


.playermodal .choices {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;
    
}

.playermodal .player {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;  
}

.rock {
    background-image: url("./images/rock.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20px;
    transition: all 1s;
}

.paper {
    
    background-image: url("./images/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20px;
    transition: all 1s;
    
}

.scissors {
    
    background-image: url("./images/scissors.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20px;
    transition: all 1s;
}

/* .lives {
    
    background-image: url("./images/heart.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 90px;
    border: 5px solid black;
    border-radius: 15px;
} */

.effect{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;

}


