@font-face {
  font-family:"retro";
  src: url(./css/fonts/VIDEOPHREAK.ttf) format('truetype');
  
}

:root{
    --gold:#BFA181;
    --turquoise:#178582;
    --blue:#0A1828;
    --deep-red:#8E0D3C;
    --blackdurant:#1D1842;
    --orange:#EF3B33;
    --rose-pink:#FDA1A2;

}

.playerchoice, .pcchoice, .result {
    color: var(--rose-pink);
    text-align: center;
}

html {
    font-size: 3rem;
    background-color:var(--turquoise);
    font-family: "retro";    
}

span {
    margin-left: 20px;
}

.title {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 10px;
    transform: skew(-25deg);
}

.display {
    display: flex;
    flex: 1;
    /* padding: 10px; */
    margin-top: 200px;
    position: absolute;
    width: 100%;
    bottom: 1rem;
}

.pcmodal, .playermodal {
    flex-direction: column;
    flex: 1;
    
    margin: 20px;
    padding: 20px;
    
} 

.pcmodal {
    background-color:var(--rose-pink);
    border-radius: 50px 10px;
}

.playermodal {
    background-color: var(--rose-pink);
    border-radius: 10px 50px;
}

.pcmodal .choices {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;
    
}

.pcmodal .pc {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;  
}


.playermodal .choices {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;
    
}

.playermodal .player {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 40px;  
}

.rock {
    background-image: url("./images/rock.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20px;
    transition: all 1s;
}

.paper {
    
    background-image: url("./images/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20px;
    transition: all 1s;
    
}

.scissors {
    
    background-image: url("./images/scissors.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 20px;
    transition: all 1s;
}



.effect{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;

}


